@model DressesListViewModel


<h1>@Model.CurrentCategory</h1>
@foreach (var dress in Model.Dresses)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@dress.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@dress.Price.ToString("c")</h3>
                <h3>
                    <a>@dress.Name</a>
                </h3>
                <p>@dress.ShortDescription</p>
            </div>
        </div>
    </div>
}





